{% block sw_cms_block_netzp_blog6_detail %}
    <div class="sw-cms-block-netzp-blog6-detail">
        <slot name="content">{% block sw_cms_block_netzp_blog6_detail_content %}{% endblock %}</slot>
    </div>
{% endblock %}
