{% block sw_cms_block_netzp_blog6_structure_preview %}
<div class="sw-cms-preview-netzp_blog6_structure">
    <div class="post">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <h3>Blog post</h3>
        <div class="meta">01.01.2021</div>
    </div>
    <div class="post">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <h3>Blog post</h3>
        <div class="meta">02.01.2021</div>
    </div>
    <div class="post">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <h3>Blog post</h3>
        <div class="meta">03.01.2021</div>
    </div>
</div>
{% endblock %}

