{% block sw_cms_block_netzp_blog6_structure %}
    <div class="sw-cms-block-netzp-blog6-structure">
        <slot name="content">{% block sw_cms_block_netzp_blog6_structure_content %}{% endblock %}</slot>
    </div>
{% endblock %}
