<div class="register-hotline">
    <div class="register-hotline-row register-hotline-contacts">
        <div class="register-hotline-title">Hotline</div>
        <div class="register-hotline-content">
            <p><a href="#" class="register-hotline-whatsapp"></a></p>
            <p><a href="tel:+43 660 226 22 22" class="register-hotline-phone">+43 660 226 22 22</a></p>
        </div>
    </div>
    <div class="register-hotline-row register-hotline-secure">
        <div class="register-hotline-title">Sicherheit</div>
        <div class="register-hotline-content">
            <p>Ihre Bestellung wird SSL verschlüsselt übertragen</p>
        </div>
    </div>
</div>
