{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}
{% block page_checkout_item_info_image_link %}
    {% if page.extensions.pixup.showOnCart and page.extensions.pixup.showOnCartImage %}
        {% if isDiscount != true and isNested != true %}
            <div class="pixupIconOnImageCart">
                {% sw_include '@Storefront/wishlist/add-to-wishlist-button.html.twig'  with {
                    productId: lineItem.id,
                    remove :lineItem.extensions.isOnWishlist,
                } %}
            </div>
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_item_info_label %}
    {{ parent() }}
    {% if page.extensions.pixup.showOnCart and page.extensions.pixup.showOnCartImage != true %}
    {% sw_include '@Storefront/wishlist/add-to-wishlist-button.html.twig'  with {
        productId: lineItem.id,
        remove :lineItem.extensions.isOnWishlist,
    } %}
    {% endif %}
{% endblock %}
