@font-face {
  font-family: 'BrandonGrotesqueWeb-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/bundles/deintheme/webFonts/BrandonGrotesqueWebBold/font.woff2') format('woff2');
}

@font-face {
  font-family: 'BrandonGrotesqueWeb-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/bundles/deintheme/webFonts/BrandonGrotesqueWebMedium/font.woff2') format('woff2');
}

//@font-face {
//  font-family: "BrandonGrotesqueWeb-Regular";
//  src: url('webFonts/BrandonGrotesqueWebRegular/font.woff2') format('woff2'), url('webFonts/BrandonGrotesqueWebRegular/font.woff') format('woff');
//}
//@font-face {
//  font-family: "BrandonGrotesqueWeb-Bold";
//  src: url('webFonts/BrandonGrotesqueWebBold/font.woff2') format('woff2'), url('webFonts/BrandonGrotesqueWebBold/font.woff') format('woff');
//}
//@font-face {
//  font-family: "BrandonGrotesqueWeb-Medium";
//  src: url('webFonts/BrandonGrotesqueWebMedium/font.woff2') format('woff2'), url('webFonts/BrandonGrotesqueWebMedium/font.woff') format('woff');
//}
//@font-face {
//  font-family: "BrandonGrotesqueWeb-Italic";
//  src: url('webFonts/BrandonGrotesqueWebItalic/font.woff2') format('woff2'), url('webFonts/BrandonGrotesqueWebItalic/font.woff') format('woff');
//}
//@font-face {
//  font-family: "BrandonGrotesqueWeb-BoldItalic";
//  src: url('webFonts/BrandonGrotesqueWebBoldItalic/font.woff2') format('woff2'), url('webFonts/BrandonGrotesqueWebBoldItalic/font.woff') format('woff');
//}

body {
  font-family: 'BrandonGrotesqueWeb-Regular', sans-serif;
  font-weight: 400;
}


@media (min-width: 1024px) {
  h1 {
    font-size: 46px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  h2 {
    font-size: 42px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  h3 {
    font-size: 34px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  h4 {
    font-size: 26px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  p, span, a, strong {
    font-size: 20px;
    line-height: normal;
  }
  .main-navigation-link-text {
    span {
      font-size: 19px;
    }
  }
  .container, .cms-section .boxed {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .cms-block-slider-image-text {
    h2 {
      font-size: 34px;
      line-height: normal;
      font-weight: 500;
    }
  }
}
@media (max-width: 1024px) {
  .container, .cms-section .boxed {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1023px) {
  h1 {
    font-size: 42px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  h2 {
    font-size: 38px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  h3 {
    font-size: 30px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  h4 {
    font-size: 22px;
    line-height: normal;
    font-weight: 500;
    font-family: 'BrandonGrotesqueWeb-Medium', sans-serif;
  }
  p, span, a, strong {
    font-size: 19px;
    line-height: normal;
  }
  .cms-block-slider-image-text {
    h2 {
      font-size: 30px;
      line-height: normal;
      font-weight: 500;
    }
  }
}

@media (max-width: 568px) {
  h1 {
    font-size: 38px;
    line-height: normal;
  }
  h2 {
    font-size: 34px;
    line-height: normal;
  }
  h3 {
    font-size: 26px;
    line-height: normal;
  }
  h4 {
    font-size: 18px;
    line-height: normal;
  }
  p, span, a, strong {
    font-size: 17px;
    line-height: normal;
  }
  .cms-block-slider-image-text {
    h2 {
      font-size: 26px;
      line-height: normal;
    }
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
