{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{% block page_checkout_finish_header %}
    <div class="checkout-confetti">
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
        <div class="checkout-confetti-piece"></div>
    </div>
    {{ parent() }}
{% endblock %}
