{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    <footer class="footer-minimal">
        <div class="container">
            <div class="footer-minimal-text">
                <a href="#">Impressum</a> . <a href="#">AGB</a> . <a href="#">Datenschutzerklärung</a>
            </div>
        </div>
    </footer>
{% endblock %}
